.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  justify-items: center;
  padding: 92px 50px 96px;
}

.header__menu {
  justify-self: start;
  align-self: center;
}

.header__link-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  padding-left: 153px;
  font-style: normal;
}

.header__address {
  line-height: 26px;
  padding-top: 3px;
}

.cover {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: min-content;
  text-transform: uppercase;
  color: white;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  padding: 165px 20px 50px 50px;
  row-gap: 106px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgb(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 100px;
}

.aligned-text {
  display: block;
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  padding-top: 15px;
}

.aligned-text_right {
  text-align: right;
  padding-top: 15px;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  gap: 107px;
  justify-content: end;
  align-items: center;
  padding-right: 30px;
}

.cover__description-text {
  font-size: 22px;
  font-weight: 400;
  word-spacing: 18px;
}

.bet-button {
  font-family: Raleway, sans-serif;
  cursor: pointer;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  padding: 12px 32px;
  justify-content: center;
}

.lots {
  padding: 180px 24px 115px;
}

.lots__heading {
  margin: 0 0 27px 40px;
  text-transform: uppercase;
  font-size: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  color: white;
  list-style: none;
  min-height: 596px;
  width: 334px;
  flex-grow: 1;
}

.card-link {
  cursor: pointer;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  z-index: 1;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  z-index: 1;
}

.lots__look-more-link {
  display: flex;
  text-transform: lowercase;
  text-underline-offset: 5px;
  font-size: 20px;
  padding: 30px 40px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 12px;
  grid-template-areas:
    'about__logo about__title'
    '. about__text';
}

.about__logo {
  grid-area: about__logo;
  display: flex;
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  height: 114px;
  width: 148px;
  justify-items: center;
}

.about__title {
  grid-area: about__title;
  display: flex;
  font-size: 40px;
  align-items: center;
  text-transform: uppercase;
  padding-top: 10px;
  padding-left: 12px;
}

.about__text {
  grid-area: about__text;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  gap: 24px;
  padding-top: 7px;
  padding-left: 12px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 170px 50px 82px;
}

.footer__address {
  padding-left: 0;
  justify-self: start;
  font-size: 18px;
  gap: 4px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-content: end;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
